# Stage 1: Build
FROM maven:3.9-eclipse-temurin-17 AS build
WORKDIR /app
COPY . .
# Собираем все модули
RUN mvn clean package -DskipTests

# Stage 2: Runtime
FROM eclipse-temurin:17-jre-alpine
WORKDIR /app
# Копируем JAR из модуля server
COPY --from=build /app/server/target/*.jar app.jar
ENTRYPOINT ["java", "-jar", "app.jar"]
