# Database Configuration
POSTGRES_DB=jserver
POSTGRES_USER=user
POSTGRES_PASSWORD=password
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/jserver

# MinIO Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_URL=http://minio:9000

# Backend Configuration
ADMIN_INITIAL_PASSWORD=admin123
